.truncate {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 3.6em;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.8em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .see-more {
    cursor: pointer;
    color: blue;
  }